/*---- Imported Google Font ----*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Montserrat:wght@100;200;300;400&display=swap');

/*---- Special Margins/Padding/Text/Colour ----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, ::after, ::before { 
    box-sizing: border-box; 
}

html,body {
    width: 100%;
    overflow-x: hidden; 
    background-color: #F5EBE0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1vh;
}

.text-uppercase {
    text-transform: capitalize;
}

/*---- Hero Image ----*/

.nav-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/landing-page-hero.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/*---- Navbar ----*/

.nav-text {
    color: #fff!important;
    font-size: 2.5vmin;
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 0.5em;
    font-size: 4vmin;
}

.navbar-toggler {
    margin-top: 0.8em;
    color: #fff;
}

.dropdown {
    border: none;
}

/*---- Logo ----*/

#logo {
    width: 4%;
    height: auto;
    filter: invert(1);
}

/*---- Hero Image Text ----*/

.hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    margin-left: 6em;
    height: 15em;
}

#slogan {
    font-family: "Bodoni Moda", sans-serif;
    font-weight: 400;
    font-size: 6vmin;
    color: #fff;
}

#catchline {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    font-size: 2.5vmin;
    color: #fff;
    letter-spacing: 1px;
}

/*---- Hero Image Location Text ----*/

.location-wrapper {
    position: absolute;
    bottom: 0;
    right: -60%;
}

.image-location {
    color: #fff;
    font-size: 2vmin;
    letter-spacing: 1px;
}

/*---- Aotearoa Description ----*/

.description-wrapper {
    height: 36em;
    background-color: #A58961;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; /*Box shadow taken from https://getcssscan.com/css-box-shadow-examples */
}

#description-title {
    font-family: "Bodoni Moda", sans-serif;
    font-size: 8vmin;
    padding-top: 0.8em;
    margin-bottom: 0.5em;
    color: #0C0409;
}

#description-content {
    font-size: 3vmin;
    letter-spacing: 1px;
    color: #0C0409;
    text-align: center;
}

/*---- What We Do ----*/

#what-we-do {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    color: #0C0409;
    font-size: 5vmin;
    margin-top: 1.5em;
    letter-spacing: 1px;
    text-align: center;
}

.travel-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 9vmin;
    margin-top: 0.6em;
}

.travel-icons-hr {
    border: 1px solid #A58961;
    width: 10%;
    margin-top: 0.7em;
}

.what-we-do-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    font-size: 5vmin;
    color: #0C0409;
    position: relative;
    margin-top: 0.3em;
}

#plan-text {
    position: absolute;
    left: 30%;
}

#go-text {
    position: absolute;
    left: 42%;
}

#explore-text {
    position: absolute;
    left: 46%;
}

/*Popular Destinations Carousel*/

#popular-destination-title {
    margin-top: 20em;
    height: min-content;
    font-family: "Bodoni Moda", sans-serif;
    color: #0C0409;
    text-align: center;
}

#pop-dest-hr {
    border: 1px solid #A58961;
    margin: 0 auto;
    position: relative;
    bottom: -1em;
    width: 20em;
}

/*Code taken from https://flickity.metafizzy.co/ for Popular Destinations carousel*/

.carousel {
    background: #F5EBE0;
    box-sizing: border-box;
    margin-top: 5em;
}

.carousel-cell {
    width: 35%;
    margin-right: 3em;
}

.carousel-cell-image {
    min-width: 20%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

/*Carousel hover effect code taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity*/

.carousel-cell-title {
    color: #0C0409;
    font-size: 4vmin;
    padding-top: 0.5em;
}

.carousel-cell > a {
    text-decoration: none;
}

.carousel-cell-image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.carousel-hover-content {
  transition: .5s ease;
  opacity: 0;
  text-align: start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.carousel-cell:hover .carousel-cell-image {
  opacity: 0.3;
}

.carousel-cell:hover .carousel-hover-content {
  opacity: 1;
}

.carousel-hover-text {
  background-color: #A58961;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
  color: white;
  font-size: 13px;
  padding: 16px 32px;
}