/*---- Imported Google Font ----*/

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Montserrat:wght@100;200;300;400&display=swap');

/*---- Special Margins/Padding/Text/Colour ----*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, ::after, ::before { 
    box-sizing: initial; 
}

html,body {
    width: 100%;
    overflow-x: hidden; 
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1vh;
}

.text-uppercase {
    text-transform: capitalize;
}

/*---- Hero Image ----*/

.nav-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/landing-page-hero.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/*---- Navbar ----*/

.nav-text {
    color: #fff!important;
    font-size: 2.5vmin;
    letter-spacing: 1px;
}

.navbar-brand {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-left: 2em;
    margin-right: 0.5em;
    font-size: 4vmin;
}

.navbar-toggler {
    margin-top: 0.8em;
    color: #fff;
}

.dropdown {
    border: none;
}


/*---- Logo ----*/

#logo {
    width: 4%;
    height: auto;
    filter: invert(1);
}

/*---- Hero Image Text ----*/

.hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    margin-left: 6em;
    height: 15em;
}

#slogan {
    font-family: "Bodoni Moda", sans-serif;
    font-weight: 400;
    font-size: 6vmin;
    color: #fff;
}

#catchline {
    font-family: "Bodoni Moda", sans-serif;
    font-style: italic;
    font-size: 2.5vmin;
    color: #fff;
    letter-spacing: 1px;
}

/*---- Location Text ----*/

.location-wrapper {
    position: absolute;
    bottom: 0;
    right: -63%;
}

.image-location {
    color: #fff;
    font-size: 2vmin;
    letter-spacing: 1px;
}

/*---- Aotearoa Description ----*/

.description-wrapper {
    height: 30em;
    background-color: #A58961;
}

#description-title {
    font-family: "Bodoni Moda", sans-serif;
    font-size: 8vmin;
    padding-top: 1em;
    margin-bottom: 0.5em;
    color: #0C0409;
}

#description-content {
    font-size: 3vmin;
    letter-spacing: 1px;
    color: #0C0409;
    text-align: center;
}

